body{
background-color: white;
margin: 10px; padding: 0px;
}
.corzinha{
    color:gray;
margin: 10px; padding: 0px;
}
body{
    font-family: Arial, sans-serif;
    padding: 0;
margin: 0;
}
header{
    background-color:white;
    color:black;
  padding: 20px;
  display: block;
}

.conteiner-cabecalho{
    background-color:white;
    padding: 20px;
    }

.img-rigth{
 position: absolute;
top: 40%;
right: 50%;
height: auto;

}

.linha-site{
    border-color: black;
    border-width: 1px;
}