body{
background-color: white;
margin: 10px; padding: 0px;
}
.corzinha{
    color: goldenrod;
margin: 10px; padding: 0px;
}
body{
    font-family: Arial, sans-serif;
    padding: 0;
margin: 0;
}
.header{
    background-color:rgb(red, green, blue);
    color: wheat;
  padding: 20px;
  text-align: center;
}