body{
background-color: goldenrod;
margin: 10px; padding: 0px;
}
.corzinha{
    color:gray;
margin: 10px; padding: 0px;
}
body{
    font-family: Arial, sans-serif;
    padding: 0;
margin: 0;
}
header{
    background-color:white;
    color:gold;
  padding: 20px;
  display: block;
}

.conteiner-cabecalho{
    background-color: black;
    display: inline;
    padding: 20px;
    }s

.img-rigth{
 position: absolute;
top: 40%;
right: 50%;
height: auto;

}